* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Encode Sans Expanded', sans-serif;
}

html {
 --light-accent-color: #00b5e6;
 /* --light-accent-color: #1391f2; */
 --dark-accent-color: #0a3b61;
 cursor: default;
}
